* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .app-container {
    position: relative;
  }
  
  .tombol-warga {
    position: absolute;
    top: 25px;
    right: 480px;
    z-index: 1000; 
  }
 
  .tombol-logout {
    position: absolute;
    top: 25px;
    right: 20px; 
    z-index: 1000; 
  }

  .tombol-surat {
    position: absolute;
    top: 25px;
    right: 390px; 
    z-index: 1000; 
  }
  .sidebar-container{
    position: absolute;
    top: 0px;
    left: 0px; 
    z-index: 2000; 
    background-color: white;

  }
  .search-bar-container {
    position: absolute;
    right: 130px;
    z-index: 2000; 
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    top: 15px;
  }
  
  /* Remove borders from TextField */
  .search-bar-container .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border: none;
  }
  
  /* Remove box shadow on focus */
  .search-bar-container .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    box-shadow: none;
  }
  
  